<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sjjd.wyl.baseandroid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".base.BaseActivity2"
            android:label="@string/title_activity_base_content"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".base.BaseActivityTopBar">
        </activity>
        <activity
            android:name=".crash.activity.ErrorActivity"
            android:process=":error_activity"/>

        <provider
            android:name=".crash.provider.CrashInitProvider"
            android:authorities="${applicationId}.customactivityoncrashinitprovider"
            android:exported="false"
            android:initOrder="101"/>

        <activity android:name=".base.BaseActivity">
        </activity>
    </application>

</manifest>